In [2]:
import pandas as pd

In [3]:
pd.read_excel(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [4]:
pd.read_excel('C:/Users/Pranshu Chaurasia/Desktop/data-science-bootcamp/sample_datasets/Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [5]:
df = pd.read_excel('C:\\Users\\Pranshu Chaurasia\\Desktop\\data-science-bootcamp\\sample_datasets\\Attribute DataSet.xlsx')

In [6]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
#To read data from multiple sheets
#To give a custom column name use names
# To remove first roaw as column name use header =None
#pd.read_excel('C:/Users/Pranshu Chaurasia/Desktop/data-science-bootcamp/sample_datasets/Attribute DataSet.xlsx',sheet_name='pran',header=None,names=["A","B","C"])

In [9]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [10]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [16]:
pd.read_csv(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\haberman.csv',header=None,names=['Age','Year of Operation','No. Of. Positives','Survival status'])

     Age  Year of Operation  No. Of. Positives  Survival status
0     30                 64                  1                1
1     30                 62                  3                1
2     30                 65                  0                1
3     31                 59                  2                1
4     31                 65                  4                1
..   ...                ...                ...              ...
301   75                 62                  1                1
302   76                 67                  0                1
303   77                 65                  3                1
304   78                 65                  1                2
305   83                 58                  2                2

[306 rows x 4 columns]

In [17]:
pd.read_csv(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\haberman1.csv',header=None,sep='@',names=['Age','Year of Operation','No. Of. Positives','Survival status'])

     Age  Year of Operation  No. Of. Positives  Survival status
0     30                 64                  1                1
1     30                 62                  3                1
2     30                 65                  0                1
3     31                 59                  2                1
4     31                 65                  4                1
..   ...                ...                ...              ...
301   75                 62                  1                1
302   76                 67                  0                1
303   77                 65                  3                1
304   78                 65                  1                2
305   83                 58                  2                2

[306 rows x 4 columns]

In [18]:
pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/main/data/worldwide-aggregate.csv')

           Date  Confirmed  Recovered   Deaths  Increase rate
0    2020-01-22        557         30       17            NaN
1    2020-01-23        657         32       18      17.953321
2    2020-01-24        944         39       26      43.683409
3    2020-01-25       1437         42       42      52.224576
4    2020-01-26       2120         56       56      47.529576
..          ...        ...        ...      ...            ...
811  2022-04-12  500880363          0  6185040       0.207437
812  2022-04-13  501920234          0  6189593       0.207609
813  2022-04-14  502892186          0  6193401       0.193647
814  2022-04-15  503606396          0  6195647       0.142021
815  2022-04-16  504155459          0  6197159       0.109026

[816 rows x 5 columns]

In [21]:
a= pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [22]:
type(a)

list

In [23]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [24]:
len(a)

1

In [26]:
js=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [27]:
js['user'][0]

{'login': 'JasonMendoza2008',
 'id': 56092290,
 'node_id': 'MDQ6VXNlcjU2MDkyMjkw',
 'avatar_url': 'https://avatars.githubusercontent.com/u/56092290?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/JasonMendoza2008',
 'html_url': 'https://github.com/JasonMendoza2008',
 'followers_url': 'https://api.github.com/users/JasonMendoza2008/followers',
 'following_url': 'https://api.github.com/users/JasonMendoza2008/following{/other_user}',
 'gists_url': 'https://api.github.com/users/JasonMendoza2008/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/JasonMendoza2008/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/JasonMendoza2008/subscriptions',
 'organizations_url': 'https://api.github.com/users/JasonMendoza2008/orgs',
 'repos_url': 'https://api.github.com/users/JasonMendoza2008/repos',
 'events_url': 'https://api.github.com/users/JasonMendoza2008/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/JasonMendoza2008/received_events',
 'type': 'User',
 'site_admin': False}

In [31]:
df.to_json('C:\\Users\\Pranshu Chaurasia\\Desktop\\data-science-bootcamp\\sample_datasets\\attributes_dataset.json')

In [32]:
pwd

'C:\\Users\\Pranshu Chaurasia\\Desktop\\data-science-bootcamp\\data-science-bootcamp\\python-advanced'